---
title: {{ codecollection.name }}
---

<div class="cc-card-grid">
    <div class="cc-card">
      <div class="card-header">
            <img class="card-icon" src="https://storage.googleapis.com/runwhen-nonprod-shared-images/icons/github-mark.svg" alt="Icon" />
            <h3 class="card-title">{{ codecollection.name }}</h3>
        </div>       
        <div>
          <p class="card-description">{{ codecollection.description }}</p>
          <div class="card-stats">
            <div class="stat-item"><span>Owner:</span> {{ codecollection.owner }}</div>
            <div class="stat-item"><span>Contact Email:</span> {{ codecollection.owner_email }}</div>
            <div class="stat-item"><span>Contributors:</span> {{ codecollection_stats.total_contributors }}</div>
            <div class="stat-item"><span>Total CodeBundles:</span> {{ codecollection_stats.total_codebundles }}</div>
            <div class="stat-item"><span>Total Tasks:</span> {{ codecollection_stats.total_tasks }}</div>
          </div>
       <div class="card-footer">
            <a class="github-button" href="{{ codecollection.git_url }}" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star on GitHub">Star</a>            
            <a class="github-button" href="{{ codecollection.git_url }}/fork" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-repo-forked" data-size="large" aria-label="Fork on GitHub">Fork</a>
            <a class="github-button" href="{{ codecollection.git_url }}/issues" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-issue-opened" data-size="large" aria-label="Issue on GitHub">Issue</a>
          </div>
        </div>
    </div>
</div>
