# {{ codebundle }} - Overview

{% if doc %}
## Description
{{ doc }}
{% endif %}

{% if task_page or sli_page %}
## Available Pages
<ul>
    {% if task_page %}
    <li><a href="{{ task_page }}">View Runbooks (Tools)</a></li>
    {% endif %}
    {% if sli_page %}
    <li><a href="{{ sli_page }}">View Monitors</a></li>
    {% endif %}
</ul>
{% endif %}

{% if tasks %}
## Runbooks (Tools)
<ul>
    {% for task in tasks %}
    <li>{{ task }}</li>
    {% endfor %}
</ul>
{% else %}
_No Runbooks available._
{% endif %}

{% if slis %}
## Monitors
<ul>
    {% for sli in slis %}
    <li>{{ sli }}</li>
    {% endfor %}
</ul>
{% else %}
_No Monitors available._
{% endif %}
