{% raw %}
{% extends "main.html" %}

{% block header %}
  {{ super() }}	
{% endblock %} 

{% block tabs %}
{{ super() }}
{% import "partials/language.html" as lang with context %}

{% endraw %}
<div class="custom-section">
  <div class="home-title">
      RunWhen | CodeCollection Registry
  </div>
  <div class="home-subtitle"><br><br>Discover the Troubleshooting Tasks from an <b>Expert Community</b><br>that powers the brain of the <b>RunWhen Platform Digital Assistants</b></p><br>
  <div class="button-container">
    <button type="button" class="front-page-button"><a href="/all_codecollections">Explore CodeCollections</a></button>
    <button type="button" class="front-page-button"><a href="/Categories/KUBERNETES">Troubleshoot Kubernetes</a></button>
    <button type="button" class="front-page-button"><a href="/Categories/AZURE">Troubleshoot Microsoft Azure</a></button>
    <button type="button" class="front-page-button"><a href="/Categories/GCP">Troubleshoot GCP</a></button>
  </div>
  <p  class="home-subtitle"><b>{{ total_tasks }} tasks</b> across <b>{{total_codebundles}} codebundles</b> from <b>{{ total_contributors }} contributors</b> (& counting!)</p>
  <br>
  </div>
</div>
</div>


{% raw %}
{% endblock %}

{% block content %}
{{ page.content }}
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}
{% endraw %}
